In [1]:
# Write a program to do: A dataset collected in a cosmetics shop showing
# details of customers and whether or not they responded to a special offer
# to buy a new lip-stick is shown in table below. (Use library commands)
# According to the decision tree you have made from the previous training
# data set, what is the decision for the test data: [Age = 21-35, Income = Low,
# Gender = Male, Marital Status = Married]?

In [11]:
import numpy as np
import pandas as pd

In [12]:
data = pd.read_csv("Dataset/sales.csv")
data

     Age   Income  Gender MartialStatus Buys
0     <21    High    Male        Single   No
1     <21    High    Male       Married   No
2   21-35    High    Male        Single  Yes
3     >35  Medium    Male        Single  Yes
4     >35     Low  Female        Single  Yes
5     >35     Low  Female       Married   No
6   21-35     Low  Female       Married  Yes
7     <21  Medium    Male        Single   No
8     <21     Low  Female       Married  Yes
9     >35  Medium  Female        Single  Yes
10    <21  Medium  Female       Married  Yes
11  21-35  Medium    Male       Married  Yes
12  21-35    High  Female        Single  Yes
13    >35  Medium    Male       Married   No

In [13]:
data.describe()

       Age   Income Gender MartialStatus Buys
count    14      14     14            14   14
unique    3       3      2             2    2
top     <21  Medium   Male        Single  Yes
freq      5       6      7             7    9

In [14]:
#data.apply(pd.value_counts)
data['Buys'].value_counts()

Yes    9
No     5
Name: Buys, dtype: int64

In [15]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder();
#data=data.apply(le.fit_transform)
x=data.iloc[:,:-1] #-1 means don't take last column 
x=x.apply(le.fit_transform)
#find label with their encoded value
print("Age with encodd value :",list( zip(data.iloc[:,0], x.iloc[:,0])))
print("\nIncome with encoded value :",list( zip(data.iloc[:,1], x.iloc[:,1])))
print("\nGender with encoded value :",list( zip(data.iloc[:,2], x.iloc[:,2])))
print("\nmaritialStatus with encoded value :",list( zip(data.iloc[:,3], x.iloc[:,3])))

Age with encodd value : [('<21', 1), ('<21', 1), ('21-35', 0), ('>35', 2), ('>35', 2), ('>35', 2), ('21-35', 0), ('<21', 1), ('<21', 1), ('>35', 2), ('<21', 1), ('21-35', 0), ('21-35', 0), ('>35', 2)]

Income with encoded value : [('High', 0), ('High', 0), ('High', 0), ('Medium', 2), ('Low', 1), ('Low', 1), ('Low', 1), ('Medium', 2), ('Low', 1), ('Medium', 2), ('Medium', 2), ('Medium', 2), ('High', 0), ('Medium', 2)]

Gender with encoded value : [('Male', 1), ('Male', 1), ('Male', 1), ('Male', 1), ('Female', 0), ('Female', 0), ('Female', 0), ('Male', 1), ('Female', 0), ('Female', 0), ('Female', 0), ('Male', 1), ('Female', 0), ('Male', 1)]

maritialStatus with encoded value : [('Single', 1), ('Married', 0), ('Single', 1), ('Single', 1), ('Single', 1), ('Married', 0), ('Married', 0), ('Single', 1), ('Married', 0), ('Single', 1), ('Married', 0), ('Married', 0), ('Single', 1), ('Married', 0)]

In [16]:
y=data.iloc[:,-1]

In [17]:
from sklearn.tree import DecisionTreeClassifier
classifier=DecisionTreeClassifier(criterion='entropy')
classifier.fit(x,y)

DecisionTreeClassifier(criterion='entropy')

In [22]:
#Predict value for the given Expression
#[Age < 21, Income = Low,Gender = Female, Marital Status = Married]
test_x=np.array([0,1,1,0])
pred_y=classifier.predict([test_x])
print("Predicted class for input [21-35 , Income = Low,Gender = Male, Marital Status = Married]\n", test_x," is ",pred_y[0])

Predicted class for input [21-35 , Income = Low,Gender = Male, Marital Status = Married]
 [0 1 1 0]  is  Yes

C:\Users\PRATIK RATHOD\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [23]:
#method to generate graph p.s. needs dot utility installed in os
from sklearn.tree import export_graphviz
from IPython.display import Image
export_graphviz(classifier,out_file="8th.dot",feature_names=x.columns,class_names=["No","Yes"])
#you need to install graphviz in fedora(IN LAB) for running below dor command
#yum install graphviz

#then go to terminal and cd to directory where you are saving jupyter notebook
# and execute below command
#    dot -Tpng data.dot -o tree.png
  
    
# !dot -Tpng data.dot -o tree.png
# Image("tree.png")